<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th width="100px">username</th>
      <th width="100px">password</th>
      <th>status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.password %></td>
        <td><img src="http://localhost:9090/plugins/presence/status?jid=<%= user.username %>@localhost" border="0"></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= form_for(@user) do |f| %>
 

  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>

  <div class="actions">
    <%= f.submit "注册新用户" %>
  </div>
<% end %>


<br />
<br />
<br />
<hr />
<br />
<br />


<%= form_for :user, :url => { :action => :login } do |f| %>
 

  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>

  <div class="actions">
    <%= f.submit "登录" %>
  </div>
<% end %>

